.index {
    width: var(--content-width);
    margin: 0 auto;
}

.entries > li {
    margin-bottom: .5rem;
}
.entries > li::before {
    content: '- ';
}
.entries > li > time::after {
    content: ': ';
}
.entries a.entry {
    margin-right: 1rem;
}
*[component-place] {
    display: none;
}
