.footer {
    margin: 3rem auto 1rem auto;
    text-align: center;

    & small {
        display: block;
        font-size: .8rem;

        & > span:not(:last-child)::after {
            content: ' | ';
        }
    }

    .copyright {
        color: var(--main-color);
    }
}
