:root {
    --background-color: white;
    --header-background-color: rgba(255, 255, 255, 0.95);
    --main-color: black;
    --link-color: #00e;
    --visited-link-color: #a52a2a;
    --code-color: #efefef;
    --share-logo-filter: none;
    --code-addition-color: #06770b;
    --code-deletion-color: #bb001f;

    font-size: 16px;
    --radius: 5px;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0a0a0a;
        --header-background-color: rgba(30, 30, 30, 0.85);
        --main-color: #bebebe;
        --link-color: #8b8bf9;
        --visited-link-color: #c77676;
        --code-color: #333333;
        --share-logo-filter: invert(80%);
        --code-addition-color: #47b94c;
        --code-deletion-color: #f9758b;
    }
}

/* Desktop, Tablet */
@media screen and (min-width: 700px) {
    :root {
        --content-width: 80vw;
        --image-width: 50vw;

        --h1-size: 1.5rem;
        --h2-size: 1.3rem;
        --h3-size: 1.1rem;

        --block-code-radius: 5px;
        --block-code-width: var(--content-width);
        --block-code-padding: .5rem;
    }
}

/* Mobile */
@media screen and (max-width: 700px) {
    :root {
        --content-width: 90vw;
        --image-width: 90vw;

        --h1-size: 1.2rem;
        --h2-size: 1.2rem;
        --h3-size: 1.1rem;

        --block-code-radius: none;
        --block-code-width: var(100vw);
        --block-code-padding: .5rem calc((100vw - var(--content-width)) / 2);
    }
}

html {
    background-color: var(--background-color);
    color: var(--main-color);
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
}


a {
    text-decoration: none;
    color: var(--link-color);

    &.visited {
        color: var(--visited-link-color);
    }
}
