:root {
    --background-color: white;
    --header-background-color: rgba(255, 255, 255, 0.95);
    --main-color: black;
    --link-color: #00e;
    --visited-link-color: #a52a2a;
    --code-color: #efefef;
    --share-logo-filter: none;

    font-size: 16px;
    --radius: 5px;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --background-color: white;
        --header-background-color: rgba(255, 255, 255, 0.95);
        --main-color: black;
        --link-color: #00e;
        --visited-link-color: #a52a2a;
        --code-color: #efefef;
        --share-logo-filter: none;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0a0a0a;
        --header-background-color: rgba(30, 30, 30, 0.85);
        --main-color: #bebebe;
        --link-color: #8b8bf9;
        --visited-link-color: #c77676;
        --code-color: #2b2b2b;
        --share-logo-filter: invert(80%);
    }
}

/* Desktop, Tablet */
@media screen and (min-width: 700px) {
    :root {
        --content-width: 80vw;
        --image-width: 50vw;

        --block-code-radius: 5px;
        --block-code-width: var(--content-width);
        --block-code-padding: .5rem;
    }
}

/* Mobile */
@media screen and (max-width: 700px) {
    :root {
        --content-width: 90vw;
        --image-width: 90vw;

        --block-code-radius: none;
        --block-code-width: var(100vw);
        --block-code-padding: .5rem calc((100vw - var(--content-width)) / 2);
    }
}

html {
    background-color: var(--background-color);
    color: var(--main-color);
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    height: 3rem;
    box-shadow: 0 5px 15px rgba(3, 3, 3, 0.05);
    background: var(--header-background-color);
    padding: 0 calc((100vw - var(--content-width)) / 2);
    z-index: 1000;
}
header a {
    display: inline-block;
    line-height: 3rem;
    text-decoration: none;
    color: var(--main-color);
}
header a:visited {
    color: var(--main-color)
}
a {
    text-decoration: none;
    color: var(--link-color);
}
a:visited {
    color: var(--visited-link-color);
}
.entries {
    list-style: none;
    padding-left: 0;
}

.tag-list {
    list-style: none;
    display: inline;
    padding-left: 0;
}
.tag-list::before {
    content: '[';
}
.tag-list::after {
    content: ']';
}
.tag-list > li {
    display: inline;
}
.tag-list > li:not(:last-child)::after {
    content: ', ';
}

footer {
    margin: 3rem auto 1rem auto;
    text-align: center;
}

footer small {
    display: block;
}

footer small > span:not(:last-child)::after {
    content: ' | ';
}
