.metadata {
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
    width: var(--content-width);

    h1 {
        font-size: var(--h1-size);
    }
    time {
        margin-right: 1rem;
    }
}
