#metadata {
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
    width: var(--content-width);
}

#metadata h1 {
    font-size: var(--h1-size);
}

#tags {
    display: block;
    margin-top: .3rem;
}

#content {
    word-break: break-all;
}
#content > * {
    margin-right: auto;
    margin-left: auto;
    width: var(--content-width);
}
#content p {
    text-indent: .5rem;
}
#content h2 {
    margin-top: 2rem;
    font-size: var(--h2-size);
}
#content h3 {
    font-size: var(--h3-size);
}
#content code {
    background: var(--code-color);
    border-radius: var(--radius);
    font-family: monospace;
    padding: 2px 4px;
    word-break: break-all;
}
#content pre {
    padding: var(--block-code-padding);
    white-space: pre;
    overflow-x: scroll;
    border-radius: var(--block-code-radius);
    background: var(--code-color);
    width: var(--block-code-width);
}
#content pre > code {
    padding: 0;
}
#content img {
    display: block;
    width: var(--image-width);
    margin-right: auto;
    margin-left: auto;
}
#content ul, #content ol {
    counter-reset: ol;
    list-style: none;
    padding-left: 1rem;
}
#content ul > li::before {
    content: '- ';
}
#content ol > li::before {
    counter-increment: ol;
    content: counter(ol) '. ';
}
#content pre code.addition {
    color: var(--code-addition-color);
}
#content pre code.deletion {
    color: var(--code-deletion-color);
}
#content table {
    border-collapse: collapse;
    border-width: 1px 0px;
    border-color: var(--main-color);
    border-style: solid;
}
#content thead tr {
    border-bottom: solid 1px var(--main-color);
    border-width: 0 0 1px 0;
}
#content td, #content th {
    padding: .4rem;
}
#content tbody tr:nth-child(even) {
    background-color: var(--code-color);
}
#content th {
    min-width: 6rem;
}

#share {
    margin-top: 3rem;
    width: var(--content-width);
    margin-right: auto;
    margin-left: auto;
}
#share > img {
    margin-right: 2rem;
}
#share a {
    margin-right: 1rem;
}
#share img {
    height: 2rem;
    width: 2rem;
    filter: var(--share-logo-filter);
}
